@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&display=swap');

$font-body: "Montserrat", sans-serif;
$font-display: "Indie Flower", cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}