@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #84759D;
  /* The typing effect */
  /* The typewriter cursor effect */
}
.header .intro__typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: 0.05em;
  /* Adjust as needed */
  animation: typing 5.5s steps(40, end), blink-caret 0.8s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.header span {
  font-family: "Indie Flower", cursive;
}

.line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  margin-top: 200px;
  height: 40vh;
}
.line-1__project {
  height: 350px;
  width: 350px;
  padding: 10px;
  margin: 40px;
  border-radius: 30px;
  opacity: 0.6;
  transition: transform 0.2s;
  background-color: #DAC9DD;
  box-shadow: 0 0 10px 10px #332A65;
}
.line-1__project:hover {
  opacity: 1;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
}
.line-1__project h2 {
  font-size: 1.5em;
  font-family: "Indie Flower", cursive;
  padding: 10px;
  color: black;
  text-shadow: 2px 2px 8px #332A65;
}
.line-1__project p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.line-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  margin-top: 80px;
  height: 40vh;
}
.line-2__project {
  height: 350px;
  width: 350px;
  padding: 10px;
  margin: 40px;
  border-radius: 30px;
  opacity: 0.6;
  transition: transform 0.2s;
  background-color: #DAC9DD;
  box-shadow: 0 0 10px 10px #332A65;
}
.line-2__project:hover {
  opacity: 1;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
}
.line-2__project h2 {
  font-size: 1.5em;
  font-family: "Indie Flower", cursive;
  padding: 10px;
  color: black;
  text-shadow: 2px 2px 8px #332A65;
}
.line-2__project p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.navigation {
  height: 10vh;
  padding: 20px;
  border-bottom: 1px solid black;
}
.navigation__logo {
  width: 30%;
  position: absolute;
  top: 20px;
  text-shadow: 1px 1px 4px #332A65;
}
.navigation__logo a {
  text-decoration: none;
  text-decoration: overline;
  color: black;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 2em;
}
.navigation__links {
  position: absolute;
  right: 0;
  padding: 5px 50px;
}
.navigation__links a {
  padding: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}
.navigation__links a:hover {
  color: white;
  transform: scale(1.1);
  transition: all ease 600ms;
  text-shadow: 0 2px 1px #747474, -1px 3px 1px #332A65, -2px 5px 1px #534678, -3px 7px 1px #796590, -4px 9px 1px #84759D, -5px 11px 1px #6E648B, -6px 13px 1px #C1ADCA, -7px 15px 1px #E7CBE3;
}

.aboutMe {
  height: 30vh;
  width: 65%;
  margin: auto;
}
.aboutMe__heading {
  text-align: center;
  padding: 20px;
  font-family: "Indie Flower", cursive;
  font-size: 1.5em;
  text-decoration: overline;
}
.aboutMe__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.outro-container {
  height: 30vh;
  margin: 20px;
  margin-top: 150px;
  font-size: 1.2em;
  text-align: left;
}

.contact {
  padding: 10px;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 1.5em;
  text-decoration: overline;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.social__heading:hover {
  color: white;
  transform: scale(1.1);
  transition: all ease 600ms;
}
.social__heading a, .social a:visited {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 20px;
  border-top: 1px solid black;
}
.footer__footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: black;
}
.footer__footer-logo {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: overline;
}