@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&display=swap');

$font-body: "Montserrat", sans-serif;
$font-display: "Indie Flower", cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// NAVIGATION BAR //

.navigation {
    height: 10vh;
    padding: 20px;
    position: sticky;

    &__logo {
        width: 30%;
        position: absolute;
        top: 20px;
    }

    &__logo a {
        text-decoration: none;
        color: black; 
        font-family: $font-display;
        font-weight: bold;
        font-size: 2em;
    }

    &__logo a:hover {
        transform: scale(1.1);
        transition: all ease 600ms;
        color: white;
        text-shadow: 0 2px 1px #747474, 
        -1px 3px 1px #332A65, 
        -2px 5px 1px #534678, 
        -3px 7px 1px #796590,
        -4px 9px 1px #84759D,
        -5px 11px 1px #6E648B,
        -6px 13px 1px #C1ADCA,
    }

    &__links {
        position: absolute;
        right: 0;
        padding: 5px 50px;
    }

    &__links a {
        padding: 20px;
        text-decoration: none;
        font-family: $font-body;
        font-weight: bold;
        font-size: 1.5em;
        color: black;
    }

    &__links a:hover {
        color: white;
        transform: scale(1.1);
        transition: all ease 600ms;
        text-shadow: 0 2px 1px #747474, 
        -1px 3px 1px #332A65, 
        -2px 5px 1px #534678, 
        -3px 7px 1px #796590,
        -4px 9px 1px #84759D,
        -5px 11px 1px #6E648B,
        -6px 13px 1px #C1ADCA,
        -7px 15px 1px #E7CBE3, 
    }
}

//TYPEWRITER EFFECT //

.header {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-body;
    font-size: 1.8em;

.intro__typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
    typing 5.5s steps(40, end),
    blink-caret .80s step-end infinite;
          }
          
    /* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }
          
    /* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
    }
}

.header span {
  font-family: $font-display;
}

//ABOUT ME//

#about-me {
    height: 40vh;
    width: 50%;
    margin: 20px;
    padding: 10px;
    font-size: 1.2em;
    font-family: $font-body;
    border: 1px solid black;
    border-radius: 30px;
    text-align: left;
}

#about-me h1 {
 font-size: 1.5em;
 font-family: $font-display;
 padding: 10px;
}

//PROJECTS SECTION (FIRST LINE) //

.line-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 200px;
    height: 40vh;

    &__project {
        height: 350px;
        width: 350px;
        border: 1px solid black;
        padding: 10px;
        margin: 40px;
        border-radius: 30px;
        opacity: 0.6;
        transition: transform .2s;
    }

    &__project:hover {
        opacity: 1;
        color: black;
        cursor: pointer;
        transform: scale(1.1);
    }

    &__project h2 {
        font-size: 1.5em;
        font-family: $font-display;
        padding: 10px;
        color: black;
    }

    &__project p {
        font-family: $font-body;
        font-size: 1.2em;
    }
}

//PROJECTS SECTION (SECOND LINE)//

.line-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 80px;
    height: 40vh;

    &__project {
        height: 350px;
        width: 350px;
        border: 1px solid black;
        padding: 10px;
        margin: 40px;
        border-radius: 30px;
        opacity: 0.6;
        transition: transform .2s;
    }

    &__project:hover {
        opacity: 1;
        color: black;
        cursor: pointer;
        transform: scale(1.1);
    }

    &__project h2 {
        font-size: 1.5em;
        font-family: $font-display;
        padding: 10px;
        color: black;
    }

    &__project p {
        font-family: $font-body;
        font-size: 1.2em;
    }
}


