@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&display=swap');

$font-body: "Montserrat", sans-serif;
$font-display: "Indie Flower", cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    height: 10vh;
    padding: 20px;

    &__logo {
        width: 30%;
        position: absolute;
        top: 20px;
    }

    &__logo a {
        text-decoration: none;
        color: black; 
        font-family: $font-display;
        font-weight: bold;
        font-size: 1.8em;
    }

    &__logo a:hover {
        transform: scale(1.1);
        transition: all ease 600ms;
        color: white;
        text-shadow: 0 2px 1px #747474, 
        -1px 3px 1px #332A65, 
        -2px 5px 1px #534678, 
        -3px 7px 1px #796590,
        -4px 9px 1px #84759D,
        -5px 11px 1px #6E648B,
        -6px 13px 1px #C1ADCA,
    }

    &__links {
        position: absolute;
        right: 0;
        padding: 5px 50px;
    }

    &__links a {
        padding: 20px;
        text-decoration: none;
        font-family: $font-body;
        font-weight: bold;
        font-size: 1.25em;
        color: black;
    }

    &__links a:hover {
        color: white;
        transform: scale(1.1);
        transition: all ease 600ms;
        text-shadow: 0 2px 1px #747474, 
        -1px 3px 1px #332A65, 
        -2px 5px 1px #534678, 
        -3px 7px 1px #796590,
        -4px 9px 1px #84759D,
        -5px 11px 1px #6E648B,
        -6px 13px 1px #C1ADCA,
        -7px 15px 1px #E7CBE3, 
    }
}