@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  height: 10vh;
  padding: 20px;
}
.navigation__logo {
  width: 30%;
  position: absolute;
  top: 20px;
}
.navigation__logo a {
  text-decoration: none;
  color: black;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 1.8em;
}
.navigation__logo a:hover {
  transform: scale(1.1);
  transition: all ease 600ms;
  color: white;
  text-shadow: 0 2px 1px #747474, -1px 3px 1px #332A65, -2px 5px 1px #534678, -3px 7px 1px #796590, -4px 9px 1px #84759D, -5px 11px 1px #6E648B, -6px 13px 1px #C1ADCA;
}
.navigation__links {
  position: absolute;
  right: 0;
  padding: 5px 50px;
}
.navigation__links a {
  padding: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: black;
}
.navigation__links a:hover {
  color: white;
  transform: scale(1.1);
  transition: all ease 600ms;
  text-shadow: 0 2px 1px #747474, -1px 3px 1px #332A65, -2px 5px 1px #534678, -3px 7px 1px #796590, -4px 9px 1px #84759D, -5px 11px 1px #6E648B, -6px 13px 1px #C1ADCA, -7px 15px 1px #E7CBE3;
}

.header {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  /* The typing effect */
  /* The typewriter cursor effect */
}
.header__typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: 0.05em;
  /* Adjust as needed */
  animation: typing 5.5s steps(40, end), blink-caret 0.8s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.header span {
  font-family: "Indie Flower", cursive;
}